.item {
  display: flex;
  border-radius: 12px;
  background-color: #3F5073;
  overflow: auto;
  margin-top: 10px;
}

.item-info {
  margin: 25px;
}

p {
  font-size: 18px;
  font-weight: bold;
  color: #ff5e4e;
}

span {
  font-size: 16px;
  font-weight: lighter;
  color: #f5faff;
}

.list-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
